*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box

body
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    .clockface
        width: 75vh
        height: 75vh
        border-radius: 50%
        background-color: whitesmoke
        display: flex
        justify-content: center
        align-items: center
        *
            position: absolute
        .hands
            .center-dot
                width: 5vh
                height: 5vh
                border-radius: 50%
                background-color: black 

